body {
  font: 14px 'Avenir Next', 'Quicksand', -apple-system, BlinkMacSystemFont, sans-serif;
}

/*Main content styling*/
#app {
  padding: 50px 50px;
}

/*Navigation icons*/
.nav-icon {
  height: 20px;
  color: white;
  padding: 0px 10px;
}

.addressName {
  font-weight: bold;
}

.customer-icon {
  height: 20px;
}

.loc-not-found {
  font-size: large;
  font-style: italic;
  text-align: center;
}

.rating-icon {
  height: 20px;
}

a {
  color: #00B7FF;
}

caption {
  font-size: larger;
  caption-side: top;
}

select.no-arrow {
  padding: 5px;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

thead {
  font-weight: bold;
}

