body {
  padding: 50px;
  font: 14px 'Avenir Next', 'Quicksand', -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  color: #00B7FF;
}

caption {
  font-size: larger;
}

thead {
  font-weight: bold;
}