<form action="/api/customers" method="post">
    <fieldset>
        <legend>Create a new customer account</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First name
                    <input type="text" class="form-control" name="firstname" autocapitalize="words" autofocus required>
                </label>
            </div>
            <div class="form-group col-md-6">
                <label>Last name
                    <input type="text" class="form-control" name="lastname" autocapitalize="words" required>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Email address
                <input type="email" class="form-control" name="email" required>
            </label>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>User name
                    <input type="text" class="form-control" name="username" autocapitalize="off" required>
                </label>
            </div>
            <div class="form-group col-md-6">
                <label>Password
                    <input type="password" class="form-control" name="password" required>
                </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Create account">
        </fieldset>
    </div>
</form>
<table>
    <caption>Customers</caption>
    <thead>
    <tr>
        <td>Username</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
        {{#each customer}}
            <tr>
                <td>{{username}}</td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
            </tr>
        {{/each}}
    <tr>
    </tbody>
</table>