<div class="modal fade" id="newCustomer" tabindex="-1" role="dialog" aria-labelledby="newCustomerLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCustomerLabel">Create a new customer account</h5>
                <button type="button" class="close" id="closeButton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" id="modalForm" novalidate>
                    <fieldset>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">First name
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                        autocapitalize="words" autofocus required>
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Last name
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                        autocapitalize="words" required>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email address
                                <input type="email" class="form-control" id="email" name="email" required>
                            </label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label">User name
                                    <input type="text" class="form-control" id="username" name="username"
                                        autocapitalize="off" required>
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Password
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </label>
                            </div>
                        </div>
                        <input type="number" id="customerId" hidden>
                        <input type="checkbox" id="update" hidden>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                <button type="button" class="btn btn-secondary"id="cancelButton" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary mb-3" id="addCustomer" data-toggle="modal"
        data-target="#newCustomer">Create a new customer account</button>

    <table class="table">
        <caption>Customers</caption>
        <thead>
            <tr>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="customerList"></tbody>
    </table>

</div>
<script src="./js/customers.js"></script>