<h1>{{title}}</h1>
<a href="/">← Go back</a>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <fieldset>
        <legend>Create a new customer account</legend>
        <label>First name
            <input type="text" name="firstname" autocapitalize="words" autofocus required>
        </label>
        <br>
        <label>Last name
            <input type="text" name="lastname" autocapitalize="words" required>
        </label>
        <br>
        <label>Email address
            <input type="email" name="email" required>
        </label>
        <br>
        <label>User name
            <input type="text" name="username" autocapitalize="off" required>
        </label>
        <br>
        <label>Password
            <input type="password" name="password" required>
        </label>
        <br>
        <input type="submit" value="Create account">
    </fieldset>
</form>
<table>
    <caption>Customers</caption>
    <thead>
    <tr>
        <td>Username</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>michaelarose40</td>
        <td>Michaela</td>
        <td>Rose</td>
    </tr>
    <tr>
        <td>amazinganila</td>
        <td>Anila</td>
        <td>Freeman</td>
    </tr>
    <tr>
        <td>bbarnes</td>
        <td>Bryan</td>
        <td>Barnes</td>
    </tr>
    <tr>
        <td>alvinw</td>
        <td>Alvin</td>
        <td>Willis</td>
    </tr>
    <tr>
        <td>freddie87</td>
        <td>Fred</td>
        <td>Harper</td>
    </tr>
    </tbody>
</table>