<div class="modal fade" id="newFoodTruck" tabindex="-1" role="dialog" aria-labelledby="newFoodTruckLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="model-title" id="newFoodTruckLabel">Add a new food truck</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-form-label">Name
                                <input class="form-control" id="name" type="text" name="name" autocapitalize="words"
                                    autofocus required>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Location
                                <select class="form-control" id="location" name="location">
                                    <option value="0"></option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description
                                <textarea class="form-control" id="description" name="description" rows="5" cols="50"
                                    autocapitalize="sentences"></textarea>
                            </label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="submit">Add food truck</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newFoodTruck">Add a new food
        truck</button>

    <div class="row" id="foodTruckList"></div>
</div>
<script src="./js/foodTrucks.js"></script>