<h1>{{title}}</h1>
<a href="/">← Go back</a>
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
    <fieldset>
        <legend>Add a new food truck</legend>
        <label>Name
            <input type="text" name="name" autocapitalize="words" autofocus required>
        </label>
        <br>
        <label>Description
            <input type="text" name="description" autocapitalize="sentences">
        </label>
        <br>
        <input type="submit" value="Add this food truck">
    </fieldset>
</form>