<h1>{{title}}</h1>
    <ul>
        <li><a href="/food-trucks">View food trucks or add a new food truck</a></li>
        <li><a href="/customers">View customers or add a new customer</a></li>
        <li><a href="/locations">View locations or add a new location</a></li>
        <li><a href="/reviews">View reviews or add a new review</a></li>
        <li><a href="/customers-food-trucks">Add a new customer-food truck relationship</a></li>
    </ul>
