<h1>{{title}}</h1>

<a href="/food-trucks">Add a new food truck</a>
<br>
<a href="/customers">Add a new customer</a>
<br>
<a href="/locations">Add a new location</a>
<br>
<a href="/reviews">Add a new review</a>


<!--all the other static pages in your website with a short but informative title for each page
like "Browse existing ships", "Add new ship", "Manage certifications for each character".
These are the static HTML pages which the user will use to interact with your Project Website.

Your HTML pages should be the front-end implementation for all the functionalities described
in the CS340 Project Guide. So basically, you need to create the client-side version of your site
containing forms, any client-side validation that you want to perform (though not required), and
any images, etc. that you want to be part of the website. Thus, the project website without any
back-end or database interaction working.!-->