<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">FoodTruckTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/reviews"><img class="nav-icon" src="/icons/reviews.svg"
            alt="Reviews">Reviews</a>
        <a class="nav-item nav-link" href="/food-trucks"><img class="nav-icon" src="/icons/food-trucks.svg"
            alt="Food Trucks">Food Trucks</a>
        <a class="nav-item nav-link" href="/locations"><img class="nav-icon" src="/icons/locations.svg"
            alt="Locations">Locations</a>
        <a class="nav-item nav-link" href="/customers"><img class="nav-icon" src="/icons/customers.svg"
            alt="Customers">Customers</a>
      </div>
    </div>
  </nav>
  <div id="app" class="container-fluid">
    {{{body}}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>